.logo {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    position: absolute;
    top: 6.8rem;
    right: .5rem;
  }
  
  .logo img{
    width: 30px;
    height: 30px;
    margin: 4px;
  }

  .logo-box{
    position: relative;
    right: -1.5rem;

  }

  .icons{
    width: 40px;
    height: auto;
    margin: 0 5px;
    cursor: pointer;
  }


  
  #event-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-primary-color);
    color: #fff;
    font-family: HelveticaNeue;
    font-size: 0.8rem;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
  }
  
  #event-btn:hover {
    background-color: var(--button-primary-hover-color);
  }
  
  #event-btn img {
    margin: 0px 4px 0px 0px;
  }

  .addCircle{
    width: 20px;
    height: 20px;
    margin: 5px;
  }

  @media screen and (min-width: 960px) {
    .event-btn {
        display: flex;
    }
    .logo{
        flex-direction: row;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    .logo-box{
      right: 0;
      top: 1.5rem;
    }
  }
  