*,
*::after,
*::before {
box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

#page-container {
  padding-bottom: 2.5rem;
}

hr{
  border: none;
  width: 95%;
  height: 2px;
  background-color: #345454;
}
